html {
    background-color: #fa923f;
    padding: 10px;
}

body {
    background-color: yellow;
    padding: 10px;
    margin: 0;

}

header {
    background-color: #f073e1;
    margin: 10px;
}

nav {
    background-color: #f073e1;
    margin: 10px;
}

footer {
    background-color: #f073e1; 
    margin: 10px;
}
